/* SYUI Theme Definition */

@import url("../fonts/montserrat/Montserrat.css");

:root {
	/* Theme Colors */
	--sy-color--blue-1: #76AFF9;
	--sy-color--blue-2: #2C7EE7;
	--sy-color--blue-3: #2880F2;
	--sy-color--blue: var(--sy-color--blue-1);
	--sy-color--green-1: #BADA55;
	--sy-color--green-2: #70A943;
	--sy-color--green-3: #43B866;
	--sy-color--yellow-1: #E48E1C;
	--sy-color--yellow: var(--sy-color--yellow-1);
	--sy-color--red-1: #E43978;
	--sy-color--red: var(--sy-color--red-1);

	/* Tone Colors */
	/* Make sure to update the default settings alongside these values */
	--sy-tone-color--1: var(--sy-color--blue-3);
	--sy-tone-color--2: var(--sy-color--yellow-1);
	--sy-tone-color--3: var(--sy-color--red-1);
	--sy-tone-color--4: var(--sy-color--green-3);
	--sy-tone-color--5: var(--sy-color--grey-4);

	/* Text Colors */
	--sy-text--dark: var(--sy-color--black);
	--sy-text--light: var(--sy-color--grey-5);

	/* Text Fonts */
	--sy-font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
	--sy-font-size--large: 1.25rem;
	--sy-font-size--medium: 1rem;
	--sy-font-size--small: 0.75rem;
	--sy-font-weight--bold: 700;
	--sy-font-weight--normal: 400;
	--sy-font-weight--light: 300;

	/* Proximity */
	--sy-space: 5px;
	--sy-space--small: calc(var(--sy-space) / 2);
	--sy-space--medium: var(--sy-space);
	--sy-space--large: calc(var(--sy-space) * 2);
	--sy-space--extra-large: calc(var(--sy-space) * 4);

	/* Layering */
	--sy-z-index--top: 99999999;
	--sy-z-index--top-1: 99999998;
	--sy-z-index--top-2: 99999997;
	--sy-z-index--top-3: 99999996;
	--sy-z-index--base-2: 3;
	--sy-z-index--base-1: 2;
	--sy-z-index--base: 1;

	/* Borders */
	--sy-border: 1px solid var(--sy-color--grey-2);
	--sy-border-radius: 5px;

	/* Transitions & Animations */
	--sy-transition-duration: 0.25s;
}

@media (prefers-color-scheme: light) {
	:root {
		/* Theme Colors */
		--sy-color--black: #474C5A;
		--sy-color--black--transparency: #474C5A55;
		--sy-color--white: #FFFFFF;
		--sy-color--white--transparency: #FFFFFFCF;
		--sy-color--grey-1: #CDD1D6;
		--sy-color--grey-2: #F5F5F5;
		--sy-color--grey-2--transparency: #F5F5F500;
		--sy-color--grey-3: #788598;
		--sy-color--grey-4: #9A9B9C; 
		--sy-color--grey-5: #D7D7D7;
		--sy-color--green: var(--sy-color--green-3);

		/* Shadows */
		--sy-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		--sy-shadow--active: 0px 0px 10px rgba(0, 0, 0, 0.10);
		--sy-inner-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.10);
		--sy-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Theme Colors */
		--sy-color--black: #FFFFFF;
		--sy-color--black--transparency: #FFFFFF55;
		--sy-color--white: #232323;
		--sy-color--white--transparency: #23232370;
		--sy-color--grey-1: #CDD1D6;
		--sy-color--grey-2: #2C2C2C;
		--sy-color--grey-2--transparency: #2C2C2C10;
		--sy-color--grey-3: #788598;
		--sy-color--grey-4: #9A9B9C; 
		--sy-color--grey-5: #9F9FA0;
		--sy-color--green: var(--sy-color--green-1);

		/* Shadows */
		--sy-shadow: 0px 1px 4px rgba(154, 154, 154, 0.50);
		--sy-shadow--active: 0px 0px 10px rgba(220, 220, 220, 0.25);
			--sy-inner-shadow: inset 0px 1px 4px rbga(0, 0, 0, 0.10);
		--sy-box-shadow: 0px 4px 4px rbga(0, 0, 0, 0.05);
	}
}

body {
	font-family: var(--sy-font-family);
	color: var(--sy-color--black);
	margin: 0;
}