<!DOCTYPE html>
<html lang="en" ngapp="Syng">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Syng</title>

  <script>window.$ = window.jQuery = require("../src/jquery.min.js");</script>

  <!-- Photon Files -->
  <link rel="stylesheet" href="../style/css/photon.min.css">s

  <!-- Menu -->
  <script src="../src/menu/dict_menu.js"></script>
</head>

<body>
   <div class="window">

      <!-- Main Content -->
      <div class="window-content">
         <div class="pane-group">
            <div class="pane-sm sidebar search-listing">
               <ul class="list-group" id="bookmarks">
						<li class="list-group-item">
							<input type="text" placeholder="Filter Bookmarks" id="filter-bookmarks" class="form-control">
						</li>
               </ul>
            </div>
            <div class="pane expanded-content-container" id="expanded-bookmark-content">
            </div>
         </div>
      </div>
   </div>

   <!-- Load JavaScript Libraries Here -->
  <script src="../src/bookmarks.js"></script>
</body>

</html>
