<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Syng</title>

   <script>window.$ = window.jQuery = require("../src/jquery.min.js");</script>

   <!-- Photon Files -->
   <link rel="stylesheet" href="../style/css/photon.css">

   <link rel="stylesheet" href="../style/css/hint.min.css">

   <link rel="stylesheet" href="../style/css/flashcards.css" />

   <!-- Menu -->
   <script src="../src/menu/dict_menu.js"></script>
</head>

<body>
	<div class="window">
		<!-- Main Content -->
		<div class="window-content">
		</div>
	</div>

	<script type="text/javascript" src="../src/flashcards.js"></script>
</body>

</html>
