<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Syng | 词应</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../style/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../style/css/starter.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../style/css/sys.css" type="text/css" rel="stylesheet">
</head>
<body>
   <!-- <div class="titlebar-buttons">
      <a href="#!" class="titlebar-app-close wave-effect wave-light red-text text-darken-1" id="XOUT">
         <i class="material-icons" style="-webkit-app-region: no-drag;">close</i>
      </a>
      <a href="#!" class="titlebar-app-min wave-effect wave-light red-text text-darken-1" id="WMIN">
         <i class="material-icons">system_update_alt</i>
      </a>
      <a href="#!" class="titlebar-app-max wave-effect wave-light red-text text-darken-1" id="WMAX">
         <i class="material-icons">aspect_ratio</i>
      </a>
   </div> -->
   <!-- File Menu DropDown -->
   <ul id="file-menu" class="dropdown-content">
      <li><a href="#about-dialog" class="modal-trigger">About</a></li>
      <li><a href="#!" class="unsupported-feature">Bookmarks</a></li>
      <li><a href="#!" class="unsupported-feature">Study</a></li>
   </ul>
  <nav class="blue non-system-titlebar" role="navigation">
    <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo center">Syng | 词应</a>
      <ul class="left hide-on-med-and-down titlebar-buttons">
         <li>
            <a class="dropdown-button" href="#!" data-activates="file-menu">File</a>
         </li>
         <li>
            <a href="#!" id="latin-language" class="tooltipped" data-position="bottom" data-delay="600" data-tooltip="The intended language of latin input. English or Pinyin. Use Pinyin tone numbers." >EN</a>
         </li>
      </ul>
      <ul class="right titlebar-buttons">
         <!-- <li>
            <a href="#!" id="WMAX">
               <i class="material-icons">aspect_ratio</i>
            </a>
         </li> -->
         <li>
            <a href="#!" id="WMIN">
               _
               <!--<i class="material-icons"></i>-->
            </a>
         </li>
         <li>
            <a href="#!" id="XOUT">
               <i class="material-icons">close</i>
            </a>
         </li>
        <!-- <li>
			  <form>
				  <div class="input-field">
					  <input id="main-search" type="search" required>
					  <label for="main-search"><i class="material-icons">search</i></label>
					  <i class="material-icons">close</i>
				  </div>
			  </form>
		  </li> -->
        </li>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">词应欢迎你</h1>
      <div class="row center">
        <h5 class="header col s12 light">Welcome to Syng: Search, Save, Study</h5>
      </div>
		<div class="row center">
			<nav>
				<div class="nav-wrapper">
					<form>
						<div class="input-field">
							<input id="search-bar" type="search" required>
							<label for="search-bar"><i class="material-icons">search</i></label>
							<i class="material-icons" id="clear-search">close</i>
						</div>
					</form>
				</div>
			</nav>
			<br>
			<br>
			<a class="waves-effect waves-light btn-large blue modal-trigger" id="search-button" href="#search-results">Search</a>
		</div>
    </div>
  </div>

  <!-- Search Results Dialog -->
  <div id="search-results" class="modal bottom-sheet">
     <div class="modal-content">
      <div id="results-container">
      </div>
      <div id="loading-dialog">
         <center>
           <div class="preloader-wrapper active">
             <div class="spinner-layer spinner-blue-only">
                 <div class="circle-clipper left">
                    <div class="circle">
                   </div>
                </div>
                <div class="gap-patch">
                   <div class="circle">
                   </div>
                </div>
                <div class="circle-clipper right">
                   <div class="circle">
                   </div>
                </div>
             </div>
          </center>
       </div>
    </div>
   </div>
   </div>

  <!-- About Dialog (Modal) -->
  <div id="about-dialog" class="modal">
     <div class="model-content container">
        <br>
        <br>
        <center>
           <h4>Syng | 词应</h4>
           <h6>Dictionary App | 词典应用</h6>
           <p>v0.0.1 (alpha)</p>
        </center>
        <p>
           Syng is a free, open source, Chinese-To-English and English-To-Chinese dictionary app that makes it easy to lookup words and phrases quickly, built by Preston Stosur-Bassett.
           To contribute to Syng or submit a bug, the project is hosted publically @ https://github.com/sotch-pr35mac/syng .
           Syng is a stylized spelling of CiYing, the Pinyin for 词应. 词应 has been shorted from 词典应用, literally translating to Dictionary App.
           Syng relies on many libraries and projects. Currently, Syng would not work if not for:
           <ul>
             <li><b>Electron:</b> Framework for Native Cross-Platform Support</li>
             <li><b>CC-CEDICT:</b> Chinese Dictionary Database</li>
             <li><b>Materialize:</b> A Material Design User Interface</li>
             <li><b>node-cc-cedict</b>: Syng uses a modified version of John Heroy's node-cc-cedict project for using Node.js to query the CC-CEDICT database.</li>
          </ul>
        </p>
        <br>
        <br>
        <br>
     </div>
     <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat waves-blue">Close</a>
     </div>
  </div>

  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script>window.$ = window.jQuery = require("../src/jquery.js");</script>
  <script>window.Hammer = require("../src/hammer.min.js");</script>
  <script src="../src/materialize.js"></script>
  <script src="../src/sys.js"></script>
  <script src="../src/search.js"></script>

  <script type="text/javascript">
      $(document).ready(function() {
         $(".unsupported-feature").click(function() {
            alert("This is currently an unsupported feature. Sorry for the inconvience.");
         });
      });
  </script>
  </body>
</html>
