<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Syng | 词应</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../style/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../style/css/starter.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../style/css/sys.css" type="text/css" rel="stylesheet">
</head>
<body>
   <!-- <div class="titlebar-buttons">
      <a href="#!" class="titlebar-app-close wave-effect wave-light red-text text-darken-1" id="XOUT">
         <i class="material-icons" style="-webkit-app-region: no-drag;">close</i>
      </a>
      <a href="#!" class="titlebar-app-min wave-effect wave-light red-text text-darken-1" id="WMIN">
         <i class="material-icons">system_update_alt</i>
      </a>
      <a href="#!" class="titlebar-app-max wave-effect wave-light red-text text-darken-1" id="WMAX">
         <i class="material-icons">aspect_ratio</i>
      </a>
   </div> -->
   <!-- File Menu DropDown -->
   <ul id="file-menu" class="dropdown-content">
      <li><a href="#!">About</a></li>
   </ul>
  <nav class="blue non-system-titlebar" role="navigation">
    <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo center">Syng | 词应</a>
      <ul class="left hide-on-med-and-down titlebar-buttons">
         <li>
            <a class="dropdown-button" href="#!" data-activates="file-menu">File</a>
         </li>
      </ul>
      <ul class="right titlebar-buttons">
         <!-- <li>
            <a href="#!" id="WMAX">
               <i class="material-icons">aspect_ratio</i>
            </a>
         </li> -->
         <li>
            <a href="#!" id="WMIN">
               _
               <!--<i class="material-icons"></i>-->
            </a>
         </li>
         <li>
            <a href="#!" id="XOUT">
               <i class="material-icons">close</i>
            </a>
         </li>
        <!-- <li>
			  <form>
				  <div class="input-field">
					  <input id="main-search" type="search" required>
					  <label for="main-search"><i class="material-icons">search</i></label>
					  <i class="material-icons">close</i>
				  </div>
			  </form>
		  </li> -->
        </li>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">词应欢迎你</h1>
      <div class="row center">
        <h5 class="header col s12 light">Welcome to Syng: Search, Save, Study</h5>
      </div>
		<div class="row center">
			<nav>
				<div class="nav-wrapper">
					<form>
						<div class="input-field">
							<input id="search-bar" type="search" required>
							<label for="search-bar"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</nav>
			<br>
			<br>
			<a class="waves-effect waves-light btn-large blue" id="chinese-to-english-search">中文 &rarr; English</a>&nbsp;&nbsp;&nbsp;
			<a class="waves-effect waves-light btn-large blue" id="english-to-chinese-search">English &rarr; 中文</a>
		</div>
    </div>
  </div>

  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script>window.$ = window.jQuery = require("../src/jquery.js");</script>
  <script>window.Hammer = require("../src/hammer.min.js");</script>
  <script src="../src/materialize.js"></script>
  <script src="../src/starter.js"></script>
  <!-- <script src"../src/index.js"></script> -->
  <script src="../src/node-cc-cedict.js"></script>
  <script src="../src/search.js"></script>
  <script src="../src/sys.js"></script>
  </body>
</html>
