<!DOCTYPE html>
<html lang="en" ngapp="Syng">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Syng</title>

  <script>window.$ = window.jQuery = require("../src/jquery.min.js");</script>

  <!-- Photon Files -->
  <link rel="stylesheet" href="../style/css/photon.css">

  <!-- Style Text boxes -->
  <link rel="stylesheet" href="../style/css/textboxes.css">

  <!-- Menu -->
  <script src="../src/menu/dict_menu.js"></script>
</head>

<body>
   <div class="window">
      <!-- Main Content -->
      <div class="window-content">
         <div class="pane-group">
           <div class="pane">
             <br>
             <div class="form-group">
               <label>Pinyin with Tone Numbers</label>
               <textarea class="form-control" id="ugly-pinyin" rows=20></textarea>
             </div>
           </div>
           <div class="pane">
             <br>
             <div class="form-group">
               <label>Pinyin with Tone Marks</label>
               <textarea readonly id="pretty-pinyin" class="form-control" rows=20></textarea>
             </div>
           </div>
         </div>
      </div>
      <footer class="toolbar tollbar-footer">
        <div class="toolbar-actions">
          <button class="btn btn-default btn-large pull-right" id="convert-pinyin">
            Convert
          </button>
        </div>
      </footer>
   </div>

   <!-- Load JavaScript Libraries Here -->
  <script src="../src/convertPinyin.js"></script>
</body>

</html>
