<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Syng | Characters</title>

		<link rel="stylesheet" href="templates/styles/theme.css">
		<link rel="stylesheet" href="templates/styles/syui.css">
		<link rel="stylesheet" href="templates/build/bundle.css">
		<script defer src="templates/build/bundle.js"></script>
		<style>
			.body {
				overlfow: hidden;
			}
		</style>
	</head>
	<body id="characters">
	</body>
</html>
