.non-system-titlebar {
	-webkit-app-region: drag;
}

.titlebar-app-close {
	-webkit-app-region: no-drag;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.titlebar-app-min {
	-webkit-app-region: no-drag;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
	cursor: pointer;
}

.titlebar-app-max {
	-webkit-app-region: no-drag;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	cursor: pointer;
}

.titlebar-buttons {
	-webkit-app-region: no-drag;
}
