.expanded-content-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/*overflow-y: scroll;*/
}

.search-listing {
	overflow-y: scroll;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.list-group-item {
	cursor: pointer;
}

h1 {
	cursor: pointer;
}
