<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Syng</title>

   <script>window.$ = window.jQuery = require("../src/jquery.min.js");</script>

   <!-- Photon Files -->
   <link rel="stylesheet" href="../style/css/photon.css">

   <!-- Menu -->
   <script src="../src/menu.js"></script>
</head>

<body>
	<div class="window">
		<!-- Main Content -->
		<div>
			<center>
				<br>
				<br>
				<h1 id="character-card" style="font-size: 48pt"></h1>
				<h1 id="pinyin-card" style="font-size: 48pt; display: none;"></h1>
			</center>
			<p id="definitions-card" style="display: none;"></p>
		</div>

		<!-- We have window content for formatting reasons -->
		<!-- but because of weird photonkit styling it won't let us center -->
		<!-- so we aren't going to put any content inside of it -->
		<div class="window-content">
		</div>

		<footer class="toolbar toolbar-footer">
			<div class="toolbar-actions">
				<button class="btn btn-default btn-large pull-left" id="back-btn">
					<!-- <span class="icon icon-left-open"></span> -->
					Previous
				</button>

				<div class="btn-group pull-right">
					<button class="btn btn-default btn-large" id="flip-card-btn">
						<span class="icon icon-arrows-ccw"></span>
						&nbsp;
						Flip Card
					</button>
					<button class="btn btn-default btn-large" id="next-btn">
						Next
					</button>
				</div>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="../src/flashcards.js"></script>
</body>

</html>
