<!DOCTYPE html>
<html lang="en" ngapp="Syng">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Syng</title>

  <script>window.$ = window.jQuery = require("../src/jquery.min.js");</script>

  <link rel="stylesheet" href="../style/css/photon.css">

  <script src="../src/lgChar.js" type="text/JavaScript"></script>
</head>

<body>
	<div class="window">
		<div class="tab-group">
			<div class="tab-item active" id="simplified-tab">
				Simplified
			</div>
			<div class="tab-item" id="traditional-tab">
				Traditional
			</div>
		</div>
		<div class="window-content">
			<div id="simplified-pane">
				<a style="font-size: 150pt; justify-content: center;" id="simplified-container"></a>
			</div>
			<div id="traditional-pane" style="display: none;">
				<a style="font-size: 150pt; justify-content: center;" id="traditional-container"></a>
			</div>
		</div>
	</div>
</body>

</html>
