<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Syng</title>

  <script>window.$ = window.jQuery = require("../src/lib/jquery/jquery.min.js");</script>

  <script>window.Vue = require("vue");</script>
  <!-- <script>window.IView = require("iview");</script> -->

  <link rel="stylesheet" href="../style/lib/iview/iview.css" />

  <style>
    .ivu-row {
    	height:100vh;
    }
    .ivu-col {
    	height: 100vh;
    }
    .ivu-col-span-3 {
    	background-color: #464c5b;
    }
    .ivu-col-span-4 {
    	background-color: #fff;
    	border-right: 2px solid #d7dde4;
    }
    .ivu-col-span-4:after {
	    background: #d7dde4;
    	position: absolute;
    	bottom: 0;
    	display: block;
    }
    p {
      font-size: 10pt;
    }
  </style>
</head>

<body>
  <div id="test">
    <Row>
      <i-col span="3">
        <main-menu></main-menu>
      </i-col>
      <i-col span="4">
        <syng-menu></syng-menu>
      </i-col>
      <i-col span="17">
        <about-syng></about-syng>
      </i-col>
    </Row>
  </div>
  <script src="../src/build.js"></script>
</body>

</html>
