<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Syng</title>

  <script>window.$ = window.jQuery = require("../src/lib/jquery/jquery.min.js");</script>

  <script>window.Vue = require("vue");</script>
  <!-- <script>window.IView = require("iview");</script> -->

  <link rel="stylesheet" href="../style/lib/iview/iview.css" />

  <style>
    .ivu-row {
    	height:100vh;
    }
    .ivu-col {
    	height: 100vh;
    }
    .ivu-col-span-3 {
    	background-color: #464c5b;
    }
    .ivu-col-span-4 {
    	background-color: #fff;
    	border-right: 2px solid #d7dde4;
    }
    .ivu-col-span-4:after {
	    background: #d7dde4;
    	position: absolute;
    	bottom: 0;
    	display: block;
    }
    p {
      font-size: 10pt;
    }
  </style>
</head>

<body>
  <div id="app">
    <Row>
      <i-col span="3">
        <Menu theme="dark" width="100%">
          <Menu-item key="1" v-on:click='loadView("syngMenu")'>
            <center>
              <h1><b>词应</b></h1>
              <!-- <h3>Syng</h3> -->
            </center>
          </Menu-item>
          <Menu-item key="2" v-on:click='loadView("search")'>
            <center>
              <h1><Icon type="search"></Icon></h1>
              <!-- <h3>Search</h3> -->
            </center>
          </Menu-item>
          <Menu-item key="3" v-on:click='loadView("yuedu")'>
            <center>
              <h1><Icon type="ios-book"></Icon></h1>
              <!-- <h3>Document Reader</h3> -->
            </center>
          </Menu-item>
          <Menu-item key="4" v-on:click='loadView("bookmarks")'>
            <center>
              <h1><Icon type="bookmark"></Icon></h1>
              <!-- <h3>Bookmarks</h3> -->
            </center>
          </Menu-item>
          <Menu-item key="5" v-on:click='loadView("study")'>
            <center>
              <h1><Icon type="ios-keypad"></Icon></h1>
              <!-- <h3>Study</h3> -->
            </center>
          </Menu-item>
          <Menu-item key="6" v-on:click='loadView("tools")'>
            <center>
              <h1><Icon type="wrench"></Icon></h1>
              <!-- <h3>Tools</h3> -->
            </center>
          </Menu-item>
        </Menu>
      </i-col>
      <component :is='currentView'></component>
    </Row>
  </div>
  <script src="../src/syng.js"></script>
</body>

</html>
