<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Syng | Test From Bookmarks</title>

   <script>window.$ = window.jQuery = require("../src/lib/jquery/jquery.min.js");</script>

   <!-- Photon Files -->
   <link rel="stylesheet" href="../style/css/photon.css">

   <link rel="stylesheet" href="../style/css/hint.min.css">

   <link rel="stylesheet" href="../style/css/test.css" />

   <!-- Menu -->
   <script src="../src/menu.js"></script>
</head>

<body>
	<div class="window">
		<!-- Main Content -->
		<!-- The Progress Bars (Overall Progress and Timer) -->
		<progress value="0" max="100" min="0" id="test-progress"></progress>
		<progress value="100" max="100" min="0" id="timer-progress"></progress>

		<!-- The question card, to display the question and the answer options -->
		<div id="questionCard">
			<center>
				<br>
				<br>
				<h1 id="questionSec" style="font-size: 50pt;"></h1>
				<div id="questionsList">
				</div>
				<div id="questionType" style="display: none;"></div>
			</center>
		</div>

		<!-- The Answer Card, to display the correct answer -->
		<div id="answerCard" style="display: none;">
			<center>
				<br>
				<br>
				<h1 id="ansQuestionSec" style="font-size: 50pt;">Test</h1>
				<br>
				<br>
				<br>
				<h2 id="answerSec" style="color: #BA1E3D">Answer</h2>
			</center>
		</div>

		<!-- The Score Card, to display the score after the test -->
		<div id="scoreCard" style="display: none;">
		  <center>
		    <br>
		    <br>
		    <br>
		    <h1 id="scoreInfo" style="font-size: 50pt;"></h1>
		    <h1 id="scorePercent" style="font-size: 50pt;"></h1>
		    <br>
		    <p style="padding-left: 10px; padding-right: 10px;">
		      <b>Scoring Details: </b> The Syng Score is comprised of 10 points for every correct answer. An additional 5 points is awarded
		      for the getting the correct answer within 5 seconds, 3 points awarded for getting the correct answer within 10 seconds, and 1 point
		      awarded for getting the correct answer within 20 seconds.
		    </p>
		  </center>
		</div>

		<!-- TODO: Write an analytics card with graphs -->

		<!-- The Incorrect Card, displayed when the question was incorrect before moving to the answer card -->
		<div id="incorrectCard" style="display: none;">
			<center>
				<h1 class="answer-result answer-incorrect"><span class="icon icon-cancel-circled"></span></h1>
			</center>
		</div>

		<!-- The Correct Card, displayed when the question was correct before moving to the answer card -->
		<div id="correctCard" style="display: none;">
			<center>
				<h1 class="answer-result answer-correct"><span class="icon icon-check"></span></h1>
			</center>
		</div>

		<!-- The I Don't Know Card, displayed when the question resulted in the answer I Don't Know -->
		<div id="iDunnoCard" style="display: none;">
			<center>
				<h1 class="answer-result answer-question"><span class="icon icon-help"></span></h1>
			</center>
		</div>

		<div class="window-content">
		</div>

		<footer class="toolbar toolbar-footer">
			<div class="toolbar-actions">
				<button class="btn btn-default btn-large pull-left" id="iDunnoButton">
					I Don't Know
				</button>

				<button class="btn btn-default btn-large pull-right" id="continueButton" style="display: none;">
					Continue
				</button>

			  	<button class="btn btn-default btn-large pull-right" id="exitButton" style="display: none;">
			  	  	Exit
			  	</button>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="../src/pages/test-bookmarks.js"></script>
</body>

</html>
